* {
				padding: 0;
				margin: 0;
			}

			a {
				text-decoration: none;
			}

			.w {
				width: 1520px;
				margin: auto;
			}

			.index {
				position: relative;
				width: 1520px;
				height: 750px;
				background-color: #942a53;
				background-image: url(../img/3.png);
			}

			.zzc {
				display: none;
				width: 1520px;
				height: 750px;
				background-color: rgba(0, 0, 0, .4);
			}
			

			.login {
				display: none;
				position: absolute;
				left: 560px;
				top: 200px;
				width: 400px;
				height: 250px;
				/* background-color: #ffffff; */
				background-color: rgba(255, 255, 255, 0.9);
				border-radius: 10px;
				box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .3);
			}

			.close {
				position: absolute;
				top: -5px;
				left: 385px;
				height: 25px;
				width: 25px;
				background-color: #ffffff;
				font-size: 15px;
				line-height: 25px;
				text-align: center;
				border-radius: 25PX;
			}

			.close:hover {
				background-color: #FF0000;
			}

			.form {
				font-size: 25px;
				/* background-color: #6495ED; */
				width: 400px;
				height: 170px;
				margin: 40px auto;
				text-align: center;

			}

			#pas,
			#num {
				height: 35px;
				width: 250px;
				margin-left: 10px;
				margin-bottom: 10px;
				border: 1px solid #6495ED;
				border-radius: 5px;
			}

			.button {
				width: 100px;
				height: 50px;
				margin-top: 20px;
				border-radius: 50px;
				border: 1px solid #FF0000;
				background-color: #ffffff;
				color: #000000;
				font-size: 1.35rem;
				text-align: center;
				line-height: 50px;

			}

			.button:hover {
				background-color: #FF0000;
				color: #FFFFFF;
			}

			#zc {
				margin-right: 50px;
			}



			.star {
				position: absolute;
				left: 560px;
				top: 620px;
				margin: auto;
				width: 350px;
				height: 80px;
				background-color: #FF0000;
				border-radius: 50px;


			}

			.star:hover {
				box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, .3);
			}

			h1 {
				color: #ffffff;
				font-size: 40px;
				text-align: center;
				line-height: 80px;

			}